<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd">


	<!-- We have to enable annotations for our spring application -->
	<context:annotation-config />
	
	<!-- bean definitions here -->
	<bean class="com.auto_wiring.Address" id="address">
		<property name="city" value="moro"/>
		<property name="state" value="sindh"/>
	</bean>
	<bean class="com.auto_wiring.Student" id="std1" autowire="byName">
		<property name="id" value="1" />
		<property name="name" value="Asad" />
		
	</bean>

</beans> 